body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5% ;
    margin-right: 5%;
    background-color:#ddbea9;
}

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 1em;
}

table {
    margin: auto;
}

.intro{
    background-color:#cb997e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
}

.intro h1 {
    width: 40%;
    text-align: center;
}

.intro img {
    width: 40%;
    border-radius: 50%;
}


.city{
    
    width:50%;
    text-align:left;
}

.city h2{
margin-left: 40px;
}

.FavouriteCity{
float:left;
padding: 0 20px 20px 0;
width:50%;
font-size: large;
}

.imageofJapan{
float:left;
width:25em;
}

* {
box-sizing: border-box;
}

.clear{
clear:left;
}

.Museum{
flex:1;
margin-top: 0px;
}

.CSPIC{
    flex:1;
    margin-top: 0px;
}

.CSPIC img {
    order: -1;
}
.GHpic{
    flex:1;

}

.historic_container p{
    width: 200px;
    justify-content: center;
   
}


.historic_container img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
   
}
table{
    padding: auto;
    width: 60%;
  
}

.h1, .h2, .h3{
display: flex;
justify-content: center;
}
@media(min-width:960px){
    .historic_container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
    
    }
    .CSPIC img {
        order: 2;

    }
    .CSPIC{
        margin-top: -75px;
    }

    .GHpic{
        margin-top: -120px;
    }

  
}
