body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ddbea9;
}

table,
tr,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 1em;
}

table {
    margin: auto;
}

.intro {
    background-color: #cb997e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
}
.imageTB{
    float:right;
    width: 40%;
    border-radius: 50%;
}

.intro h1 {
    float: left;
 
    text-align: center;
}

.clear1{
clear: both;
}

.historical_places {
    text-align: center;
}


.city {

    width: 50%;
    text-align: left;
}

.city h2{
    margin-left: 40px;
  }


.FavouriteCity {
    float: left;
    padding: 0 20px 20px 0;
    width: 100%;
    font-size: large;

}

.imageofJapan {
    float: left;
    width: 25em;
}


* {
    box-sizing: border-box;
}

.clear {
    clear: left;
    text-align: center;
    margin: 0 10px 10px 0;
}

.historic_container {
  
    display: flex;
}



table {
    padding: auto;
    width: 80%;

}



@media(min-width:960px) {
    .imageTB{
        float:right;
        width: 40%;
        border-radius: 50%;
    }
    
    .intro h1 {
        float: left;
        width: 40%;
        text-align: center;
    }
    .historic_container {
        display: flex;

    }

    .Museum {
        width: 33.33%;
    }

    .CityHall {
        width: 33.33%
    }

    .CastleGH {
        width: 33.33%
    }


    .CastleGH img {
        float: left;
        margin-right: 0.5em;

    }

    .Museum img {
        float: left;
        margin-right: 0.5em;
    }

    .CityHall img {
        float: left;
        margin-right: 0.5em;

    }

    .CastleGH h3 {
        text-align: center;
    }

    .Museum h3 {
        text-align: center;
    }

    .CityHall h3 {
        text-align: center;
    }



    p {
        margin-right: 0.5em;
    }

    .FavouriteCity {
        float: left;
        padding: 0 30px 30px 0;
        width: 60%;
        font-size: large;
        margin-left: 30px;

    }

    .imageofJapan {
        float: left;
        width: 25em;
    }
    .city h2{
      margin-left: 40px;
    }


}


@media (max-width: 43em) {
    .imageTB{
       
        width: 30%;
        border-radius: 50%;
    }
    
    .intro h1 {
      
        width: 30%;
        font-size: small;
        text-align: center;
    }

    .imageofJapan {
        float: left;
        width: 100%;
        text-align: center;
    }

    .historic_container {
     
        flex-direction: column;
    }

    .Museum img {
        float: left;
        margin-right: 0.5em;
    }

    .CastleGH img {
        float: left;
        margin-right: 0.5em;

    }

    .CityHall img {
        float: right;
        flex-direction: row-reverse;
        margin-right: 0.5em;
    }

    .CastleGH h3 {
        text-align: center;
    }

    .Museum h3 {
        text-align: center;
    }

    .CityHall h3 {
        text-align: center;
    }


   

}