*{
    margin:0;
    padding: 0;
    font-family: Century Gothic;
}
body{
    background-color: #9a8c98;
}
.title .btn{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
  
}

.title h1{
    color:#ffff;
    font-size: 70px;
}

.btn{
    border: 1px solid #ffff;
  
    color: #ffff;
    text-decoration: none;
    transition: 0.6s ease;
}

@media(max-width:960px){
    .button{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;

    }
    .title{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
      
}

}
@media(min-width: 600px) {
    .button{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
      
    }
    .title{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
      
}

}
